doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="all.css")
        title e-commerce website
    body

        header
            h1: a(href="#").logo Basket 
            nav.navbar 
                ul.navbar-ul
                    li: a(href="#") Fresh Fruit
                    li: a(href="#") Vegetables
                    li: a(href="#") Organic Spices
                    li: a(href="#") Fresh Meat
                    li: a(href="#") Organic Wheat
            .icons
                ul.icons-nav
                    li: a(href="#").search search 
                    li: a(href="#").cart cart
                    li: a(href="#").login login 
                  
        .container
            .row 
                .col.left 
                    p Fresh And Organic
                    h1 Upto 50% Off
                    a(href="").btn Shop Now 
                .col.right
                    img(src="/images/banner-green-pep.png", alt="pepper")

    
        section.cat 
            h1.title.center Shop by 
                span Category
            nav.catbar
                ul.catbar-ul 
                    li: a(href="#").cat1 
                    li: a(href="#").cat2
                    li: a(href="#").cat3
                    li: a(href="#").cat4
                    li: a(href="#").cat5
            


                    